body {
    background-color: #001f2c;
    color: #d8d8d8;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Josefin sens;
}

.mainDiv {
    border-radius: 20px;
    margin: 10% auto;
    width: 90%;
    background-color: #c33124;
}

h1 {
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    background-color: #e8a628;
    color: #55412a;
    padding: 20px;
}

h1, h2, p, label, ol {
    font-size: 30px;
}

.ques {
    overflow: auto;
    padding: 20px;
}

.input {
    background-color: #d8d8d8;
    color: #55412a;
    border: #55412a solid 1px;
    font-size: 25px;
    display: inline-block;
    width: 70%;
    height: max-content;
    padding: 15px;
    margin: 10px auto;
}

.input:hover {
    border-color: #d8d8d8;
    background-color: #55412a;
    color: #d8d8d8;
    cursor: pointer;
}

h2 {
    font-size: 40px;
}

.score {
    background-color: #d8d8d8;
    color: #55412a;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.answer {
    background-color: #d8d8d8;
    color: #55412a;
    border: #55412a solid 1px;
    display: inline-block;
    font-size: 1em;
    width: 80%;
    height: max-content;
    padding: 2%;
    margin: 10px 3px;
}

button {
    background-color: #d8d8d8;
    color: #55412a;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    padding: 10px;
    width: 200px;
}

button:hover {
    background-color: #55412a;
    color: #d8d8d8;
    cursor: pointer;
}